body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(2, 142px);
    gap: 16px;
}

.img-container {
    grid-column: 1 / -1;
    object-fit: cover;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 50%;
}

img {
    width: 300px;
    margin-bottom: -8px;
}

#real-face-img {
    display: none;
}